<div class="container mt-3">
<div class="row">

  
<div class="col-sm-4">
  <div>Filter by category</div>
    <select class="custom-select custom-select-sm mb-3" [(ngModel)]="catvalue">
      <option *ngFor="let category of categorys"  [value]="category.categoryName">{{category.categoryName}}</option>
      
    </select>
   
  </div>
  <div class="col-sm-4">
      <div>Filter by Product Name</div>
        <select class="custom-select custom-select-sm mb-3" [(ngModel)]="productval">
          <option *ngFor="let product of products"  [value]="product.name">{{product.name}}</option>
                 </select>
       
      </div>
      <div class="col-sm-12">
              <div *ngFor="let product of products">
          <div *ngIf="productval === product.name || catvalue === product.category.name">
            {{ product | json }}

          </div>

        </div>

      </div>
	
  
  
  </div>
  </div>
